.button {
    padding: 0.5rem;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: red;
    color: #000;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    background-color: aliceblue;
}